/* Base */
@import "_lib/normalize";
@import "fontface";
@import "defaults";
@import "mixins/breakpoint";

body {
    height: 100%;
    min-height: 100%;
    color: #aaa;
    background: #555;
}

#bg {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 720px;
    width: 150%;
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
}

a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
}

#thanks {
    font-size: 50px;
    line-height: 60px;
    padding: 17px 0 8px 0;
}

#copy {
    font-size: 15px;
    line-height: 21.5px;
    width: 280px;
}

#container {
    margin: 70px 100px;
    width: 525px;
    position: relative;
}

